doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title #{title} | Confessions
    body 
        if flashes 
            - const categories = Object.keys(flashes)
            each category in categories
                each message in flashes[category]
                    .flash(class=`flash--${category}`)
                    p= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
        h1= title
        p= `View count: ${viewCount}` 
        time= createdAt
        hr
        p= confession
