extends layout 

block head-tags 
  link(rel="stylesheet", href="/dist/sass/admin/admin.css")

block content
  .dashboard
    h2.heading-left.dashboard__greeting Welcome #{req.user.username} 👋

    if req.user.role === "admin"
      h3 Marked confessions 
      if postsMarked.length
        section.dashboard__marked-confession
          .dashboard__table-container
            table
              thead
                tr
                  th Title
                  th Marked by
                  th Edit
                  th Unmark
                  th Delete

              tbody
              each post in postsMarked
                  tr
                    td: a(href=`/confessions/${post.slug}`)= post.title
                    td: a(href=`/profile/${post.markedByStaff.username}`)= post.markedByStaff.username
                    td: a.btn.btn-yellow.btn-edit(href=`/edit/${post._id}`) Edit 
                    td: button.btn.btn-blue.btn-unmark(data-id=post._id) Unmark
                    td: button.btn.btn-red.btn-delete(data-id=post._id) Delete
      else
        h4 No confessions marked !
    
    h3 All confessions
    section.dashboard__all-confessions
      .loading-animation
        .pulse
      .dashboard__table-container.hide
        table
          thead
            tr
              th Title
              th Marked by
              th Edit
              th Mark as spam
        button.btn.btn-grey.btn-prev Previous
        button.btn.btn-grey.btn-next Next

    aside.dashboard__notification 
      p Confession was unmarked!

block scripts
  script(src="/dist/js/admin/dashboard.js") 
