doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/css/main.css")
  title Home | Anonymous Confessions
body
  header
    h1 Anonymous Confessions
    nav
      ul
        li: a(href="/") Home
        li: a(href="/confessions") All confessions
        li: a(href="/new") Write a confession
    if flashes 
      - const categories = Object.keys(flashes)
      each category in categories
        each message in flashes[category]
          .flash(class=`flash--${category}`)
            p= message
            button.flash__remove(onClick="this.parentElement.remove()") &times;

  main
    section
      h1 Popular confessions in last 24 hours
      each confession in top5Confessions 
        h2: a(href=`/confessions/${confession.slug}`)= confession.title
        p= confession.confession.slice(0, 30) + "..."
        time= confession.createdAt
  script.
    const name = "#{name}";
  script(src="/js/main.js") 
